<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
  <title>WeUI</title>
  <!-- 引入 WeUI -->
  <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.3/weui.css" />
</head>

<body>
  <article class="weui_article">
    <h1>大标题</h1>
    <section id=""></section>
  </article>

  <script src="https://res.wx.qq.com/open/libs/zepto/1.1.6/zepto.js"></script>
  <script type="text/javascript">
    $.get('http://www.effmaster.com/api/55822e3e2f749a259065e857/announcement/57569f328e49543410835f2d', function(res){
      console.log(res);
    })
  </script>
</body>
</html>
